<!DOCTYPE html>
<html>
  <head>
    <title>새 글</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>새 글</h1>
    <form action="/insert" method="post">
    <table border="2">
      <tr>
        <th>제목</th>
        <th>내용</th>
        <th>비밀번호</th>
      </tr>
      <tr>
          <th>
            <input type="text" name="title" value=<%=rows[i].title%>>
          </th>
          <th>
            <input type="text" name="content" value=<%=rows[i].name%>>
          </th>
          <th>
            <input type="password" name="pw">
          </th>
      </tr>
    </table>
    <input type="submit" value="제출">
    </form>
  </body>
</html>