<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../css/style.css' />
  </head>
  <body>
    <nav> <% // 상단 메뉴바 %>
      <ul class="nav-container">
        <li class="nav-item">
          <a href="/info">Info</a>
          <ul>
            <li><a href="#">Info_1</a></li>
            <li><a href="#">Info_2</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="ContentField" style="text-align:center">
      <h1><%= title %></h1>
      <table style="margin:auto; width:50%">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          
        </tr>
        <tr>
            <td colspan="3">
                글이 없습니다. 글을 작성해주세요.
            </td>
        </tr>
      </table>
      <a href="../write/<%=lastidx%>" style="margin-top:50px"><input type="button" value="글 쓰기"></a>
    </div>
  </body>
</html>