<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav> <% // 상단 메뉴바 %>
      <ul class="nav-container" style="display:flex; flex-direction:row; width:100%; margin:0; padding:0; list-style-type: none;">
        <li class="nav-item" style="padding-top:20px; padding-left:20px">
          <a href="/info" style="text-decoration:none; color:black;">Info</a>
        </li>
      </ul>
    </nav>
    <div style="text-align:center; padding-top:2%;">
      <h1><%= title %></h1>
      <table style="margin:auto; width:50%">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          
        </tr>
        <tr>
            <td colspan="3">
                글이 없습니다. 글을 작성해주세요.
            </td>
        </tr>
      </table>
      <a href="../write/<%=lastidx%>" style="margin-top:50px"><input type="button" value="글 쓰기"></a>
    </div>
  </body>
</html>