<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="2">
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
      </tr>
      <%
      for(var i = 0; i<rows.length; i++)
      {
      %>
      <tr>
        <td name='title'><%=rows[i].title%></td>
        <td><%=rows[i].name%></td>
        <td><%=rows[i].content%></td>
      </tr>
      <%
      }
      %>
    </table>
    <button type="button" onclick="location.href='modify'">글 수정</button>
    <button type="button" onclick="location.href='../'">뒤로 가기</button>
    <script>
    </script>
  </body>
</html>