<!DOCTYPE html>
<html>
  <head>
    <title>글 수정하기</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>글 수정하기</h1>
    <form action="/board/update" method="post">
    <table border="1">
      <input type="hidden" name="idx" value="<%=rows[0].idx%>"/>
      <tr>
        <th>제목</th>
         <th>
           <input type="text" name="title" value=<%=rows[0].title%>>
        </th>
      </tr>
      <tr>
        <th>내용</th>
        <th>
           <textarea name="content" cols="30" rows="10" required ><%=rows[0].content%></textarea>
        </th>
      </tr>
      <tr>
        <th>비밀번호</th>
        <th>
          <input type="password" name="pw">
        </th>
      </tr>
      <tr>
        <td colspan="2">
            <button type="submit">글 수정</button>
            <button type="button" onclick="location.href='../list'">뒤로 가기</button>
        </td>
    </tr>
    </table>
    </form>
  </body>
</html>