<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel='stylesheet' href='css/style.css' />
</head>
    <body>
      <div include-html="commonHTML/menu.html"></div>
      <script src="commonJS/includeHTML.js"></script>
      <div class="ContentField">
        <form action="/login">
          <input type="submit" value="로그인">
        </form>
        <br>
        <form action="/register">
          <input type="submit" value="회원가입">
        </form>
        <br>
        <form action="/board/list">
          <input type="submit" value="게시판">
        </form>
      </div>
    </body>
    
</html>